body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
.container {
	width:80%;
	margin: auto;
}


ul {
    padding: 0;
    list-style-type: none;
}

li.message {
	margin:15px 0px;
	width:100%;
	text-align: center;
	background-color: #912CEE;
	padding:10px 0px;
	color: #fff;
	border-radius: 5px


}