body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
.container {
	width:80%;
	margin: auto;
}


ul {
    padding: 0;
    list-style-type: none;
}

li.panel {
	padding:15px 0px;

}

form{
	padding:15px 50px;
}