<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/superhero.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>

<div class="container">
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Node Chat</a>
		
    <% if(username) { %>
      <form class="signout-form" action="/signout" method="post"> 
        <button type="submit" class="btn btn-primary navbar-btn navbar-right">Sign out</button>
      </form>

    <% } else { %>
      <form class="navbar-form navbar-right" action="/signup" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <button type="submit" class=" signup btn btn-default">Sign up</button>
      </form>
    <% } %>  


	</div>
</nav>

<div class="col-md-12">

