<% include header %>

  <h1>Well this is a relief</h1>
  <p>Well this is a relief</p>

  <form action="/" method="post">
  	<input type="text" name="peep">
  	<input type="submit" value="Submit">
  </form>

  

<% include footer %>