<% include header %>

  <h1>Well this is a relief</h1>
  <p>Well this is a relief</p>

  <form action="/" method="post">
  	<input type="text" name="peep">
  	<input type="submit" value="Submit">
  </form>

  <div class="peeps">
	  <% peeps.forEach(function(peep){ %>
	  	<%= peep.peep %>
	  <% }) %>
  </div>
<% include footer %>