<% include header %>

  <h1>Welcome to Node Chat</h1>
  
  <h2>New message</h2>

  <form action="/" method="post">
  	<input type="text" name="message">
  	<input type="submit" value="Submit">
  </form>


  <h2>Messages</h2>

  <div class="messages">
	  <% messages.forEach(function(message){ %>
	  	<%= message.text %>
	  <% }) %>
  </div>
<% include footer %>