<% include header %>

  <% if(username) { %>
      <h1 class="welcome-message">Welcome: <%= username %><h1>
  <% } else { %>
      <h1 class="welcome-message">Welcome to Node Chat</h1>
  <% } %>
  
  <br>
  <div class="panel">
  


    <form role="form" action="/" method="post">
    <h3>New message</h3>
      <div class="form-group">
    	   <textarea class="form-control" rows="3" name="message"></textarea>
      </div>
      <div class="form-group">
    	   <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>


  <br>

  <h1>Messages</h1>
  <br>

  <% if(alert.length !== 0) { %>
    <div class="alert alert-success" role="alert"><%= alert %></div>
  <% } %>
  <ul class="messages">
    <% messages.forEach(function(message){ %>
	     <li class="panel">  	
        <%= message.text %>
	     <li>
     <% }) %>
  </ul>
<% include footer %>